<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="target_browser" value="chrome" />
    <add key="registration_url" value="http://www.match.com/cpx/en-us/match/registration/indexpage" />
    <add key="base_url" value="http://www.match.com/" />
    <add key="login_url" value="https://www4.match.com/login" />
    <add key="login_email" value="vineeth@gmail.com" />
    <add key="fav_url" value="http://www.match.com/interests/fave/0/" />    
  </appSettings>
</configuration>